[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest-cov = "*"
pytest = "*"
pytest-randomly = "*"
autopep8 = "*"
flake8 = "*"
ipython = "*"
jupyter = "*"
jupyterlab = "*"
jupyter-contrib-nbextensions = "*"
jupyter-nbextensions-configurator = "*"
jupyterthemes = "*"
pytablewriter = "*"

[packages]
click = "*"
jsonlines = "*"
requests = "*"
regex = "*"
tqdm = "*"
numpy = "*"
matplotlib = "*"
seaborn = "*"
bokeh = "*"
holoviews = "*"
pandas = "*"
xlrd = "*"
xlwt = "*"
openpyxl = "*"
python-docx = "*"
pdfminer = {six = "*"}
scikit-learn = "*"
mecab-python3 = "*"
gensim = "*"

[requires]
python_version = "3.8"
